/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato{
    margin-left: 100px;
    margin-top: 300px;
    border: 2px solid black;
    width: 500px;

}


.parole{
display: inline-block;
animation:  parole 9s linear infinite;
opacity: 0;
}
@keyframes parole {
0%,100%{
opacity: 0;
transform: translateY(-20px);
}
33%,66% {
opacity: 1;
transform: translateY(0);

}

}

